@page "/test2"
@inject IJSRuntime JS

<PageTitle>Test passing around a .NET collection object</PageTitle>
<h1>Test passing around a .NET collection object</h1>
<button @onclick=OnRunButtonClick > Run benchmark 2 once </button>
<h1>Results: </h1>
<p>@BenchmarkResultText</p>
@code {




    public string BenchmarkResultText { get; set; }

    public async void OnRunButtonClick()
    {
        BenchmarkResultText += "> ";
        ContainerClass cc = new ContainerClass();
        var ccref = DotNetObjectReference.Create(cc);
        string res = await JS.InvokeAsync<string>("CSContainerBenchmark", ccref);
        BenchmarkResultText += $"{res}\n";

    }
}
