@page "/test1"
@inject IJSRuntime JS

<PageTitle>Test passing large array as argument</PageTitle>
<button @onclick=OnRunButtonClick >Run benchmark 1 once </button>
<h1>Results: </h1>
<p>@result</p>
@code {
    public string result = "";

    [JSInvokable]
    public static void WasmBenchmarkTestArray(float[] arr)
    {
        for(int i = 0; i < arr.Length; i++)
        {
            arr[i] *= (float)(i+3);
        }
    }



    protected async void OnRunButtonClick()
    {
        result += "> ";
        string res = await JS.InvokeAsync<string>("JSArrayBenchmark");
        result += $"{res}\n";

    }
}
